@charset "iso-8859-1";

/*******************************************************************************
*  twoColumnsRight.css : 2004-08-17 : Ruthsarian Layouts
* ------------------------------------------------------------------------------
*  This stylesheet removes the left-hand column from the 3 column layout
*******************************************************************************/

html>body #leftColumn
{
	display: none;	/* for compliant browsers, hide this column entirely */
}
* html #leftColumn *
{
	display: none;	/* ie's ghost-text bug is triggered by key elements
			   having display:none set. #rightColumn is one of those
			   key elements. so we display:none all child
			   elements (doesn't trigger the bug) and try to
			   make #rightColumn have no chance to affect
			   document flow. */
}
#leftColumn
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	border: none;	/* remove anything that'll give this elemnt width. */
}
#outerColumnContainer, #innerColumnContainer
{
	border-left-width: 0;	/* to get from 3 to 2 columns, we must hide the
				   left-side border */
}
#innerColumnContainer
{
	margin-left: 0;
}

/******************************************************************************/